{% extends 'base.html' %}

{% block content %}
<div>
    {% if question.screenshot.url is not None %}
    <img class="uploaded-screenshot" src="{{question.screenshot.url}}" alt="질문 내용">
    {% endif %}
    <div class="question-item">
        <div class="title">날짜</div>
        <div>{{question.created_at|date:"Y.m.d"}}</div>
    </div>
    <div class="question-item">
        <div class="title">제목</div>
        <div>{{question.title}}</div>
    </div>
    <div class="question-item">
        <div class="title">내용</div>
        <div>{{question.content}}</div>
    </div>
</div>
<div>
    <button type="button" class="button-bg-empty" onclick="location.href='{% url 'question_list' %}'">목록보기</button>
</div>
{% endblock content %}